<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head');%>
</head>
<body id="error">
    <div class="m-5 d-flex align-items-center justify-content-center min-vh-100 error">
        <div class="text_fondo p-5 text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> PRUEBA</p>
            <p class="lead">
                MENSAJE
            </p>
            <a href="/" class="btn rounded-pill goHome">Go Home</a>
        </div>
</div>
</body>
</html>