<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head');%>
</head>
<body>
    <!-- STAR HEADER -->
    <header>
        <%- include('partials/headerUser');%>
    </header>
    <!-- END HEADER-->

    <!-- STAR BREADCRUMB -->
    <div class="container-fluid py-1 mb-1" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="">acciones</a></li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/statics">estadisticas</a></li>
                <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">plantas</li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUMB -->

    <!-- START MAIN -->
    <div class="container-fluid">
        <div class="row m-auto mb-3 border-bottom border-success border-2">
            <div class="border-bottom border-success border-2">
                <h3 class="text-center mt-2"> ESTADISTICAS GANACIAS</h3>
            </div>
            <!-- Columna menú lateral -->
            <div class="col-md-2 p-0">
                <ul class="nav flex-column bg-light py-0 h-100" >
                    <li class="nav-item py-3 border-bottom border-dark border-1">
                        <a class="nav-link text-dark" aria-current="page" href="/statics">
                            <i class="bi bi-bar-chart-line-fill"></i>
                            Inicio 
                        </a>
                    </li>
                    <li class="nav-item py-3 border-bottom border-dark border-1">
                        <a class="nav-link text-dark" href="/query_graphic/categoriPlant">
                            <i class="fa-brands fa-pagelines"></i>
                            Plantas
                        </a>
                    </li>
                    <li class="nav-item py-3 border-bottom border-dark border-1 bg-success">
                        <a class="nav-link text-white" href="/query_graphic/summary-pays">
                            <i class="bi bi-currency-exchange"></i>
                            Ganancias
                        </a>
                    </li>
                    <li class="nav-item py-3 border-bottom border-dark border-1 ">
                        <a class="nav-link text-dark" href="/query_graphic/subscriptions">
                            <i class="bi bi-person-vcard"></i>
                            Inscripciones
                        </a>
                    </li>
                    <li class="nav-item py-3">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-gear"></i>
                            Configuración
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Columna info principal -->
            <div class="col-sm-10 my-0 d-lg-flex mb-3">
                    <div class="container w-75">
                        <canvas id="summaryOfYear"></canvas>
                    </div>
            </div>
        </div>
        <div class="mx-5 mb-3">
            <form method="post" action="/users/back" class="col-sm-2 g-3 justify-content-around" >
                <button type="submit" class="btn ml-auto rounded-pill px-4 backLink" id="btnBack"><i class="bi bi-skip-backward-fill"></i> | Volver</button>
            </form>
        </div>
    </div>
    <!-- END MAIN -->

    <!-- STAR FOOTER -->
    <footer>
        <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER -->

    <script>
        // definimos donde colocar las gráficas
        const ctx1 = document.getElementById('summaryOfYear');

        //declaramos los meses: 
        const month = [ 'January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December']
        // capturamos los datos de la petición
        const amountForMonth = JSON.parse('<%- JSON.stringify(data) %>');

        // Crear un objeto de mapeo para almacenar los valores de amountForMonth por mes
        const monthMapping = {}; // declaramos 
        for (const item of amountForMonth) {//terar sobre cada elemento 
            monthMapping[item.month] = item.totalAmount;
            //se asigna el valor de item.totalAmount al objeto monthMapping utilizando la propiedad item.month como clave.
        }

        // Crear un nuevo array con todos los meses y sus valores, estableciendo 0 si no hay un valor para el mes
        const result = month.map(monthName => {
            // se asigna el valor correspondiente del objeto monthMapping 
            //utilizando monthName como clave. 
            //Si no hay un valor correspondiente en monthMapping para el mes, 
            //se utiliza el valor predeterminado de 0
            const totalAmount = monthMapping[monthName] || 0;
            return { month: monthName, totalAmount };
        });

        // Obtener solo los valores de totalAmount
        const amountValues = result.map(item => item.totalAmount);

        new Chart(ctx1, {
            type: 'line',
            // Definición de la gráfica
            data: {
                labels: month,
                datasets: [{
                    label: '€ euros',
                    data: amountValues,
                    borderColor: '#ee0213',
                    backgroundColor: '#ee0213',
                    tension: 0.4,
                    borderWidth: 1,
                    pointHoverBackgroundColor: '#ee0213'
            }]},
            // Opciones de personalización de la gráfica
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Ganancias mensuales 2023',
                        font: {
                            size: 30
                        }
                    },
                    subtitle: {
                        display: true,
                        text: 'Todos los suscripciones premium del año 2023',
                        font: {
                            size: 15
                        }
                    },
                    legend: {
                        display: true,
                        labels: {
                            color: 'rgb(128,128,128)'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>