<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head');%> <!-- TODO IF COOKIE HEADERUSER-->
    </head>
    <body id="about">
        <!-- STAR HEADER -->
        <header>
            <%- include('partials/header');%>
        </header>
        <!-- END HEADER-->

        <!-- STAR BREADCRUMB -->
        <div class="container-fluid py-1 mb-0" id="breadcrumb">
            <nav class="mx-4 mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">You Are Currently Here!</li>
                    <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">PLANTS</li>
                </ol>
            </nav>
        </div>
        <!-- END BREADCRUMB -->

        <!-- STAR MAIN -->
        <div class="container-fluid mb-4 mt-0 p-0" id="main">
            <!-- ROW 1 - Filter-->
            <div class="row m-auto border-bottom">
                <h3 class="text-center mt-2">FILTRO</h3>
                <form class="row g-3 mb-3 mt-0 justify-content-around">
                    <div class="col-auto">
                        <label for="search" class="form-label">Buscar:</label>
                        <input type="text" class="form-control" id="search" placeholder="name@example.com">
                    </div>
                    <div class="col-auto">
                        <label for="lista_catgoria" class="form-label">Categoría: </label>
                        <input class="form-control" list="datalistOptions" id="lista_catgoria" placeholder="Type to search...">
                        <datalist id="datalistOptions">
                        <option value="San Francisco">
                        <option value="New York">
                        <option value="Seattle">
                        <option value="Los Angeles">
                        <option value="Chicago">
                        </datalist>
                    </div>
                    <div class="col-auto">
                        <label for="select_orden_alfabético" class="form-label">Orden Alfabético:</label>
                        <select class="form-select form-select-md" aria-label="Ejemplo de .form-select-sm" id="select_orden_alfabético">
                            <option selected>---</option>
                            <option value="ASC">Ascendente</option>
                            <option value="DESC">Descendente</option>
                            
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
                    </div>
                </form>
            </div>
            <!-- ROW 2 - Cards -->
        </div>
        <!-- END MAIN -->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->
    </body>
</html>