<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head');%>
    </head>
    <body id="session">
    <!-- STAR HEADER -->
        <header>
            <%- include('../partials/headerUser');%>
        </header>
        <!-- END HEADER-->

        <!-- STAR MAIN -->
        <h1> pagina de logueado </h1>
        <!-- END MAIN-->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->
    </body>
</html>