/*
Project: UD04-T01-EVALUABLE-Blog en Bootstrap
Version: 1.0
Last change: 29.01.2023
Assigned to: Claudia Y Lopez Lafita
--------------------[TABLA DE CONTENIDOS]----------------------
1. GENERAL
2. NAVBAR RULES
3. BREADCRUM
. FOOTER RULES
. RESPONSIVE RULES
----------------------[CÓDIGOS DE COLOR]------------------------
White: #fff
#006837
Black: #000
----------------------[FUENTES Y TIPOGRAFIAS]-------------------
'Racing Sans One', cursive
'Montserrat', sans-serif
----
*/

/* 1. GENERAL RULES */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#div_line .line{
  height: 10%;
  width: 200px;
  background-color: #006837;
  border-radius: 20px;
  margin-bottom: 1em;
}

#btnBack, #btn_delete{
  background-color: #eb1111;
  color: white;
}

#logoModal{
  position: absolute;
  width: 17%;
  left: 11px;
  top: 5px;
}
.logo_reducido{
  width: 12%;
}

.error{
  background-image: url('/images/page/fondo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  border-radius: 20%;
}

/* 2. NAVBAR RULES */

.btn-Session, #delete_profile, #error .goHome{
  background-color: #006837;
  color: white;
}

img{
  width: 90%;
}

/* 3. BREADCRUM */

#breadcrumb {
  background-color: #759876;
  color: #fff;
}

#breadcrumb a{
  text-decoration: none;
  color: #fff;
}

#breadcrumb .active{
  font-weight: bolder;
}

#breadcrumb nav{
  --bs-breadcrumb-divider: '>';
}

/* 4. MAIN*/

#togglePassword, #togglePassword2{
  position: absolute;
  right: 10px;
  bottom: 10px;
  
}

#btn_edit,
#btnUpdate,
#btn_new{
  background-color: #ffff;
  border: 1px solid #006837;
  color: #006837;
  text-decoration: none;
}

.fondoGarden, .text_fondo{
  background-color: rgba(255, 255, 255, 0.75);
}

#admin #infoUser{
  font-size: large;
}

#admin #action1,
#action2, #action3{
  border-width: 2px;
  border-style: solid;
  border-color: #006837;

}

#action1 a,
#action2 a, #action3 a{
  text-decoration:none;
  color: #006837;
}

#home .btnViewMore{
  background-color: #006837;
}

#home .btnViewMore a{
  text-decoration: none;
  color: #fff;
}

#home .category_ext,
#home .category_exo,
#home .category_suc,
#home .category_int
{
  -webkit-box-shadow: 18px 10px 14px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 10px 14px -11px rgba(0,0,0,0.75);
  box-shadow: 18px 10px 14px -11px rgba(0,0,0,0.75);
}

.card{
  -webkit-box-shadow: 4px 3px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 13px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 13px -1px rgba(0,0,0,0.75);
}

#home .circle_icon{
  background-color: #fff;
  margin-left: 20%;
  margin-right: 20%;
}

#home.carousel{
  max-width: 80%;
  margin: auto;
}

/* This is important to make z-indexes work as expexted */
#home .carousel-item {
  -webkit-perspective: initial;
  perspective: initial;
}

/* This is to make the image offset */
#home .carousel-item img {
  padding: 1rem;
}

#home .carousel-panel,
#home .carousel-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}

#home .carousel-overlay {
  background-color: rgba(197, 223, 202, 0.75);
  width: 50%;
}

#home .carousel-control-prev,
#home .carousel-control-next {
  align-items: bottom;
}

#loginForm, #registerForm,
#home .iconInfo, #editForm, .createSpp{
  background-color: #C5DFCA;
}

#session #btnLogin, 
#session #btnRegister,
#reset #btnReset,
#contact #btnContact
{
  background-color: #fff;
  border: 1.5px solid #006837;
  color: #006837;
}

#about .headerInfo{
  background-image: url("../images/plantas/fondo_plantas_bN.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#about .headerInfo .fondo{
  background-color: rgba(255, 255, 255, 0.5) ;
}

#about .comentarios,
#contact .form_contact,
#contact .method_contact, 
.tab-content,
.nav-tabs .nav-link {
  background-color: #C5DFCA;
}

#about .service_1,
#about .service_2,
#about .service_3{
  background-color: #C5DFCA;
  border-radius: 10px;
}

#contact .method_phone,
#contact .method_hour,
#contact .method_email{
  margin-left: 10px;
}

.card-plant{
  transition: transform 0.3s ease;
}
.card-plant:hover{
  transform: scale(1.05);

}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thead{
  background-color: #006837;
  color: #fff;
}

.container-garden{
  background-image: url("../images/plantas/cesped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER RULES*/

footer{
  background-color: #006837;
  color: #fff;
}

footer a{
  text-decoration:none;
}
