<!--START FOOTER-->
<footer class="pb-0 text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Star Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating rounded-pill m-1"
        href="#!"
        role="button"
        ><i class="bi bi-facebook"></i
      ></a>
      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating rounded-pill m-1"
        href="#!"
        role="button"
        ><i class="bi bi-twitter"></i
      ></a>
      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating rounded-pill m-1"
        href="#!"
        role="button"
        ><i class="bi bi-google"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating rounded-pill m-1"
        href="#!"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>
      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating rounded-pill m-1"
        href="#!"
        role="button"
        ><i class="bi bi-linkedin"></i
      ></a>
    </section>
    <!-- End Section: Social media -->
    <!-- Section: Form -->
    <hr class="text-white px-0" />
    <!-- Section: Links -->
    <section class="pb-0">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contáctanos</h5>
          <ul class="list-unstyled mb-0">
            <li class="pb-1">
              <i class="bi bi-geo-alt-fill pr-1"></i>
              <a href="#!" class="text-white fw-light"
                >Av. de la Unidad, 5, Castilleja de la Cuesta, Sevilla</a
              >
            </li>
            <li class="pb-1">
              <i class="bi bi-envelope-at-fill pr-1"></i>
              <a href="#!" class="text-white fw-light"
                >secretaria@iesalixar.org</a
              >
            </li>
            <li>
              <i class="bi bi-telephone-fill pr-1"></i>
              <a href="#!" class="text-white fw-light">+34 955 62 25 66</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column 2 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Secciones</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white fw-light">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Plantas</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Sobre nosotros</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column 3 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Utils</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white fw-light">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Terminos de política</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Gestión de datos</a>
            </li>
            <li>
              <a href="#!" class="text-white fw-light">Servicio técnico</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column 4 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">SUSCRÍBETE</h5>
          <p> Recibe información de las últimas actualizaciones </p>
          <input
                type="email"
                id="emailSuscripcion"
                class="form-control rounded-pill"
                placeholder="Email adress"
              />
          <button
              type="submit"
              id="btnSuscripcion"
              class="btn btn-outline-light rounded-pill mt-4"
            >
              Subscribe
            </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <hr class="text-white px-0" />
  <!-- Copyright -->
  <div class="text-center p-3 pt-0">
    © 2023 Copyright:
    <a class="text-white" href="https://github.com/ClaudiaYLopezLafita" target="_blank">Claudia Y.</a>
    All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
