<div class="row m-auto">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand w-25" href="/"><img src="/images/page/Logo_Header.png" alt="Plantarium Logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <!-- Menu -->
                 <ul class="navbar-nav mx-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">
                            <i class="bi bi-house-door-fill"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/plants/list">
                            <i class="bi bi-tree-fill"></i>
                            Plantas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">Sobre Nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">Contactos
                        </a>
                    </li>
                </ul>
                <!-- collapse search-->
                <form class="d-inline-flex" role="search">
                    <button class="btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        <i class="bi bi-search"></i>
                    </button>
                    <div class="collapse" id="collapseExample">
                        <input class="form-control me-2" type="search" placeholder="Buscar"
                            aria-label="Search" autofocus>
                    </div>
                </form>
                <!-- button session-->
                <ul>
                    <li class="nav-item btn-Session py-2 px-2 ml-3 rounded-pill" id="btnSessio">
                        <a class="nav-link" href="/session">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <!-- | Session -->
                        | <%= btnNav %> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>