/*
Project: UD04-T01-EVALUABLE-Blog en Bootstrap
Version: 1.0
Last change: 29.01.2023
Assigned to: Claudia Y Lopez Lafita
--------------------[TABLA DE CONTENIDOS]----------------------
1. GENERAL
2. NAVBAR RULES
. FOOTER RULES
. RESPONSIVE RULES
----------------------[CÓDIGOS DE COLOR]------------------------
White: #fff
#006837
Black: #000
----------------------[FUENTES Y TIPOGRAFIAS]-------------------
'Racing Sans One', cursive
'Montserrat', sans-serif
----
*/

/* 1. GENERAL RULES */


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* 2. NAVBAR RULES */

.btn-Session{
  background-color: #006837;
  color: white;
}

img{
  width: 90%;
}

/* 3. MAIN*/
#div_line .line{
  height: 10%;
  width: 200px;
  background-color: #006837;
  border-radius: 20px;
  margin-bottom: 1em;
}

#loginForm, #registerForm{
  background-color: #C5DFCA;
}

#session #btnLogin, #session #btnRegister,
footer button
{
  background-color: #fff;
  border: 1.5px solid #006837;
  color: #006837;
}

#admin #action1,
#action2, #action3{
  border-width: 2px;
  border-style: solid;
  border-color: #006837;

}

#action1 a,
#action2 a, #action3 a{
  text-decoration:none;
  color: #006837;
}

/* FOOTER RULES*/

footer{
  background-color: #006837;
  color: #fff;
}

footer a{
  text-decoration:none;
}