
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head');%>
</head>
<body id="editA">
    <!-- START HEADER -->
    <header> 
        <%- include('../partials/headerUser');%>
    </header>
    <!-- END HEADER-->

    <!-- START BREADCRUM -->
    <div class="container-fluid py-1 mb-1" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page">PROFILE</li>
                <li class="breadcrumb-item text-uppercase text-white active" ria-current="page"> EDIT PROFILE</li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUM-->

    <!-- STAR MAIN -->
    <div class="container-fluid">
        <h2 class="text-center">MIS DATOS</h2>
        <div class="row m-auto">
            <form method="put" action="/users/edit" class="row g-3 justify-content-center" id="editForm">
                <div class="col-sm-4">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="fullname" id="full_name" placeholder="Nombre Apellido">
                        <label for="full_name">Nombre Completo</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Nombre">
                        <label for="username">Nombre de usuario</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" name="email" id="emaiL" placeholder="name@example.com">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="date" class="form-control" name="birthdate" id="birth_date" placeholder="dd/mm/yyyy">
                        <label for="birth_date">Fecha nacimiento</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="address" id="address" placeholder="direccion">
                        <label for="address">Dirección</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="locality" id="locality" placeholder="localidad">
                        <label for="locality">Localidad</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefono">
                        <label for="phone">Teléfono</label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn ml-auto rounded-pill px-5" id="btnUpdate">MODIFICAR CAMBIOS</button>
                    <button type="reset" class="btn btn-danger ml-auto rounded-pill px-5" id="btnCancel">CALCELAR</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END MAIN -->

    <!-- START HEADER -->
    <footer>
        <%- include('../partials/footer');%>
    </footer>
    <!-- END FOOTER-->
</body>
</html>